@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

$text-font: 'Lora', serif;
$description-font: 'Open Sans', sans-serif;

$theme-color:#404348;
$text-color:#545154;
$anchor-color: #206198;
$hf-anchor-color: #fff;
$hf-anchor-hover-color:#cbd3da;

$menu-item-font-size: 1.125rem;
$site-title-font-size: 2.3rem;
$site-description-font-size:.85rem;