.bg-grey{
    background-color: $theme-color;
}

.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    @media(max-width:576px){
        flex-direction: column;
    }

    /* Portrait */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1) {
        justify-content: center;
    }

    /* Landscape */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1180px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
        justify-content: center;
    }

    // div{
    //     width: 100%;
    // }

    ul{
        list-style: none;
    }

    a{
        color: $hf-anchor-color;

        &:hover{
            text-decoration: none;
        }
    }

    .site-identity{
        text-align: center;
        width: 100%;
        
        .site-title{
            font-size: $site-title-font-size;
            font-weight: 400;
            display: inline-block;
            line-height: 1;
            margin-bottom: 0;

            @media(max-width:576px){
                font-size: 2rem;
            }
        }

        .site-description{        
            font-size: $site-description-font-size;
            font-weight: 500;
            margin-bottom: 0;

            @media(max-width:576px){
                font-size: .71rem;
            }

            a{
                font-family: $description-font;
            }
        }
    }

    #menu-right-menu{
        justify-content: flex-end;
    }  

    .mobile-menu{
        display: none;
        text-align: center;
        position: absolute;
        top: 4.8rem;
        width: 100%;
        background-color: $theme-color;
        z-index: 99;

        @media (min-width:1024px){
            display: none;
        }

        /* Portrait */
        @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (orientation: portrait) 
        and (-webkit-min-device-pixel-ratio: 1) {
            width: 50%;
            right: 0;
        }

        /* Landscape */
        @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1180px) 
        and (orientation: landscape) 
        and (-webkit-min-device-pixel-ratio: 1) {
            width: 30%;
            right: 0;
        }

        a{
            font-size: .9rem;
            padding: .9rem;
        }

        .sub-menu{
            display: none;
            background-color: #F2F2F2;

            li{
                &:hover{
                    background-color: #e2e2e2;
                }

                a{
                    color: $text-color;
                    padding: .9rem;
                }
            }
        }

        .menu-item-has-children{
            &:hover{
                .sub-menu{
                    display: block;
                }
            }
        }
    }

    .menu-item-has-children{
        a{
            position: relative;

            &::after{
                content: '';
                border-style: solid;
                height: 0;
                width: 0;
                border-color: #ccc transparent transparent;
                border-width: 5px 5px 0;
                position: absolute;    
                top: 50%;       
                transform: translateY(-50%);        
                margin-left: .5rem;
            }
        }

        .sub-menu{
            a{
                &::after{
                    content: none;
                }
            }
        }
    }

    .menu{
        position: relative;
        display: flex;
        width: 100%;

        @media(max-width:576px){
            display: none;            
        }

        &:nth-child(2){
            @media(max-width:576px){
                display: none;              
            }
        }

        &:nth-child(4){
            @media(max-width:576px){
                display: none;               
            }
        }

        /* Portrait */
        @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (orientation: portrait) 
        and (-webkit-min-device-pixel-ratio: 1) {
            display: none;
        }

        /* Landscape */
        @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1180px) 
        and (orientation: landscape) 
        and (-webkit-min-device-pixel-ratio: 1) {
            display: none;  
        }

        a{
            font-size: $menu-item-font-size;
            letter-spacing: .5px;
            padding: 1rem;
        }      
        
        li {
            position: relative;
            
            @media(max-width:576px){
                padding: 0 1rem;
            }
        }            

        .sub-menu {
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            min-width: 9rem;
            background-color: #F2F2F2;
            z-index: 5;

            li{
                transition: all .3s ease-in-out;

                &:hover{
                    background-color: #e2e2e2;
                }
            }
    
            a{
                color: $text-color;
                font-size: 1rem;
                text-align: center;
                padding: .5rem;
            }

            @media(max-width:576px){
                position: relative;
            }
        }

        .menu-item-has-children{
            &:hover{
                .sub-menu{
                    display: block;
                }
            }
        }
    }
}