.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;

    img {
        display: block;
        width: 100%;
        object-fit: cover;
    }

    .swiper-quote{
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5rem 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        max-width: 500px;

        h2{
            font-size: 3rem;
        }

        span {
            font-size: 1.5rem;
        }

        p{
            font-size: .8rem;
        }
    }
}

.swiper-overlay {
    background: rgb(19 19 19 / 19%);
    position: absolute;
    width: 100%;
    height: 60vh;

    @media (max-width:767px){
        height: 35vh;
    }
}

.quote-animation.animate {
    animation: slideInFromTop 0.5s ease;
}

.location.animate {
    animation: slideInFromBottom 0.5s ease;
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}